.gitignore
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
*.bsc
*.ncb
*.opt
*.obj
*.pch
*.pdb
*.idb
*.ilk
*.exp
*.plg
*.aps
*.sbr
*.ib_pdb_index
*.pch.ib_tag
*.*.user
*.suo
*.sdf
*mt.dep
*.vssscc
*.vspscc
*.scc
*.intermediate.manifest
*Thumbs.db
*.log
*.tlog
